/*clearfix these classes*/
.c-fix:after{
  content:""; 
  display:table; 
  clear:both;
}

.metro-interactive{
  margin:1em auto;
}

.metro-interactive, .metro-interactive .makesans *, text{
  font-family: franklin-gothic-urw, arial, helvetica, sans-serif;
}

.metro-interactive p{
  margin:0em 0em 1em 0em;
}

text{
  fill:#111111;
}

div.reading{
  width:75%;
  max-width:1200px;
  min-width:320px;
  margin:0em 1em 2em 1em;
}

div.reading > *{max-width:800px;line-height:1.6em;}
div.reading > p, div.reading > ul{max-width:800px;}

div.header-box{

}

.divdot{
  width:1em;
  height:1.5em;
  display:inline-block;
  position:relative;
  vertical-align:middle;
}

.divdot:after{
  content:"";
  width:0.75em;
  height:0.75em;
  display:inline-block;
  margin:0.375em 0.125em 0em 0.125em;
  border-radius:0.5em;
  background-color: rgb(158, 25, 157);
}

.header-box > p{
  letter-spacing: .001em;
  font-size:2em;
  line-height:1.4em; 
  margin:0em; 
}

.blue{
  color: #0d73d6;
}

.buttons{
  margin:0em 1em 0em 1em;
}

.toUpper{
  text-transform:uppercase;
}

.buttons > p{
  display:block;
  padding:0em 0.25em;
  margin:0em;
  cursor:pointer;
  font-family:arial, helvetica;
  text-align:center;
  line-height:1.5em;
  font-size:0.9em;

  -ms-user-select: none;
  user-select: none;
}

.buttons *.selected{
  background-color:#0d73d6;
  color:#ffffff;
}

.panel{
  width:100%;
  width:100vw;
  height:700px;
  height:100vh;
}

img{
  width:100%;
}

.bar-chart{
  max-width:300px;
  margin:0px auto;
}


@media (min-width:0px){

}

@media (min-width:600px){
 
}


@media (min-width:1200px){

}